* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #FF9933;
}

.apex-btn {
  background-color: #FF9933;
  color: #ffffff !important;
  border-color: #FF9933;
}

.apex-btn:hover {
  background-color: #ff8000;
}

.apex-primary-btn {
  background-color: #5f51cc;
  color: #ffffff !important;
  border-color: #5f51cc;
}

.apex-primary-btn:hover {
  background-color: #261E66;
}

.apex-outline-btn {
  color: #FF9933;
  border-color: #FF9933;
}

.primary-color {
  color: #261E66 !important;
}

.main-header {
  top: 0;
  height: 96px;
  z-index: 999 !important;
}

.main-header__nav a {
  color: #000;
  font-weight: 500;
}

.main-header__nav a:hover {
  color: #261E66;
}

.main-header__brand {
  color: #261E66;
  font-size: 32px;
  font-weight: 800 !important;
}

.main-header__toggle {
  color: #ffffff;
  background-color: #FF9933;
}

.main-header__toggle span {
  color: #ffffff;
}

.main-header__collapse.show {
  background-color: #ffffff;
  padding: 15px 20px;
  margin-top: 16px;
  border-top: 3px solid #FF9933;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.main-header__cta {
  padding: 8px 48px;
}

.main-header__search.show::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 12px solid #FF9933;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-header__search-icon {
  font-size: 14px;
  color: #FF9933;
}

.main-header__ul-one-form {
  top: 92.5px;
}

.hero-section {
  position: relative;
  width: 100%;
}

.hero-section__row {
  margin: 94px auto 0 auto;
}

.hero-section__left {
  margin: auto;
}

.hero-section__left h1 {
  color: #261E66;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .hero-section__left h1 {
    font-size: 32px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.hero-section__left h1 span {
  font-size: larger;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .hero-section__left h1 span {
    font-size: 30px;
    font-weight: bold;
  }
}

.hero-section__left ul {
  padding-left: 15px;
  padding: 30px;
  line-height: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .hero-section__left ul {
    padding: 10px;
  }
}

.hero-section__left a {
  background-color: #b4ff69;
  color: #000;
  border-color: #b4ff69;
  padding: 14px 60px;
}

@media only screen and (max-width: 992px) {
  .hero-section__left a {
    padding: 7px 20px;
  }
}

.hero-section__left a:hover {
  background-color: #68CF00;
  color: #000;
}

.hero-section__right img {
  margin-top: -50px;
}

@media only screen and (max-width: 992px) {
  .hero-section__right img {
    margin-top: 10px;
  }
}

.hero-section__right .para-container {
  position: absolute;
  margin-top: -50px;
  position: relative;
  text-align: center;
  bottom: 23%;
  font-size: 1.8rem;
  left: -78px;
}

@media only screen and (max-width: 992px) {
  .hero-section__right .para-container {
    left: 0;
  }
}

.hero-section__right .para-one, .hero-section__right .para-two {
  display: inline-block;
  background-color: rgba(38, 30, 102, 0.9);
  padding: 10px;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .hero-section__right .para-one, .hero-section__right .para-two {
    font-size: 1.1rem;
    padding: 5px;
  }
}

.hero-section__right .para-two {
  background-color: rgba(104, 207, 0, 0.9);
}

.free-bundles {
  position: relative;
  background-color: #f6f6f6;
  min-height: 700px;
  overflow: hidden;
}

.free-bundles__topimg {
  position: absolute;
  top: -120px;
  width: 100%;
  margin-top: 20px;
  left: 0;
  z-index: 2;
}

.free-bundles__bottomimg {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
  width: 100%;
}

.free-bundles__shapeone, .free-bundles__shapetwo {
  position: absolute;
  left: -150px;
  bottom: 80px;
  max-width: 100%;
  display: inline-block;
}

@media only screen and (min-width: 1400px) {
  .free-bundles__shapeone, .free-bundles__shapetwo {
    bottom: 30px;
    left: -200px;
  }
}

@media only screen and (max-width: 992px) {
  .free-bundles__shapeone, .free-bundles__shapetwo {
    bottom: -20px;
    left: -260px;
  }
}

@media only screen and (max-width: 450px) {
  .free-bundles__shapeone, .free-bundles__shapetwo {
    bottom: -12px;
    left: -260px;
  }
}

.free-bundles__shapetwo {
  left: unset;
  right: -52px;
  bottom: 100px;
}

@media only screen and (max-width: 450px) {
  .free-bundles__shapetwo {
    right: -124px;
    bottom: -70px;
  }
}

@media only screen and (max-width: 992px) {
  .free-bundles__shapetwo {
    right: -150px;
    bottom: -20px;
  }
}

@media only screen and (min-width: 1400px) {
  .free-bundles__shapetwo {
    right: -90px;
    bottom: 40px;
  }
}

.free-bundles__content {
  position: relative;
  padding: 60px 0 230px;
  margin: 0 auto;
  z-index: 99;
}

.free-bundles__heading, .advance-container {
  margin: 0 auto;
  padding: 30px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.free-bundles__heading h2, .advance-container h2 {
  text-align: center;
}

.free-bundles__heading p, .advance-container p {
  text-align: center;
  margin: 0 200px;
}

@media only screen and (max-width: 992px) {
  .free-bundles__heading p, .advance-container p {
    margin: 0 20px;
  }
}

.free-bundles__buttons ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.free-bundles__buttons ul li {
  margin-right: 1.2rem;
  margin-bottom: .5rem;
  margin-top: .8rem;
  background-color: #b3b3b3;
  width: 100px;
  border-color: #b3b3b3;
}

.free-bundles__buttons ul li.active, .free-bundles__buttons ul li:hover {
  background-color: #FF9933;
  border-color: #FF9933;
  color: #ffffff;
}

.free-bundles__buttons ul li.active a, .free-bundles__buttons ul li:hover a {
  color: #ffffff;
}

.free-bundles__buttons ul li a {
  color: #333333;
}

.advance-container {
  padding-top: unset;
  margin-bottom: 20px;
}

.advance-container h2 span {
  font-size: 40px;
  font-weight: 700;
}

.widget-slider__inner {
  margin: auto;
}

.widget-slider__row {
  margin: auto;
}

.widget-slider__description {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.widget-slider.slick-slider {
  margin-bottom: 0;
}

.widget-slider .slick-dots {
  width: 50%;
  left: 34%;
  bottom: 35px;
}

@media only screen and (max-width: 992px) {
  .widget-slider .slick-dots {
    bottom: 0px;
    left: 0;
    width: 100%;
  }
}

.widget-slider .slick-dots li button::before {
  font-size: 14px;
}

.ads-widget {
  background-image: url("../images/heros-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .ads-widget {
    text-align: center;
  }
}

.ads-widget__left {
  margin: auto;
  color: #ffffff;
}

.ads-widget__left h4 {
  font-size: 36px;
  padding-bottom: 1.2rem;
}

.ads-widget__left h4 span {
  color: #68CF00;
  font-weight: bolder;
}

@media only screen and (max-width: 992px) {
  .ads-widget__left h4 {
    font-size: 32px;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
}

.ads-widget__left p {
  padding-bottom: 1.5rem;
}

.ads-widget__btn {
  background-color: #68CF00;
  padding: 7px 28px;
  margin-bottom: 1.5rem;
}

.ads-widget__right span {
  position: absolute;
  bottom: 10%;
  left: 0;
}

.workflow-section__row {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1200px;
}

.workflow-section__right {
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .workflow-section__right {
    text-align: center;
  }
}

.workflow-section__right h3 {
  margin-bottom: 30px;
}

.workflow-section__right p {
  margin-bottom: 30px;
}

.workflow-section__right a {
  background-color: #FF9933;
  border-color: #FF9933;
  color: #ffffff;
  padding: 7px 32px;
  margin-bottom: 2rem;
}

.workflow-section__right a:hover {
  background-color: #cc6600;
  color: #ffffff;
}

.workflow-section__left {
  width: 100%;
}

.pick-a-plan {
  background-image: url("../images/call-to-action-pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.pick-a-plan__row {
  padding: 90px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.pick-a-plan__row h2, .pick-a-plan__row p, .pick-a-plan__row a {
  text-align: center;
  margin-bottom: 1.3rem;
}

.pick-a-plan__row a {
  display: block;
  max-width: 150px;
  margin: auto;
  background-color: #9bff36;
}

.worksheets__card {
  border-radius: .7rem;
  padding: .9rem;
  height: 300px;
  position: relative;
  background-color: #f7f7f7;
}

.worksheets__card:hover h5 a {
  color: #FF9933;
}

.worksheets__card:hover .worksheets__info__hover {
  display: block;
}

.worksheets__card:hover .worksheets__search {
  display: block;
}

.worksheets__search {
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 150px;
  border-radius: .7rem .7rem 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 30px;
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 450px) {
  .worksheets__search {
    padding: 20px;
    font-size: 16px;
  }
}

.worksheets__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 0 0 .7rem .7rem;
  padding: .9rem;
  font-size: 13px;
}

@media only screen and (max-width: 450px) {
  .worksheets__info {
    font-size: 10px;
  }
}

.worksheets__info h5 {
  font-size: 13px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.worksheets__info h5 a {
  color: #1a1a1a;
}

@media only screen and (max-width: 450px) {
  .worksheets__info h5 {
    font-size: 11px;
  }
}

.worksheets__info__hover {
  display: none;
}

@media only screen and (max-width: 450px) {
  .worksheets__info__hover {
    min-height: 70px;
  }
}

.worksheets__info__rating {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #d9d9d9;
}

@media only screen and (max-width: 450px) {
  .worksheets__info__rating {
    margin: 0;
  }
}

.worksheets__info__difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worksheets__info__difficulty__level {
  background: #f2f2f2;
  width: 24px;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-clip-path: polygon(78% 0%, 100% 50%, 78% 100%, 0% 100%, 23% 50%, 0% 0%);
          clip-path: polygon(78% 0%, 100% 50%, 78% 100%, 0% 100%, 23% 50%, 0% 0%);
  margin-right: -2px;
}

.worksheets__info__difficulty__level.active, .free-bundles__buttons ul li.worksheets__info__difficulty__level:hover, .free-bundles__buttons ul li a.worksheets__info__difficulty__level:hover {
  background-color: #68CF00;
}

.worksheets__info__difficulty__level:first-child {
  -webkit-clip-path: polygon(0% 0%, 78% 0%, 100% 50%, 78% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 78% 0%, 100% 50%, 78% 100%, 0% 100%);
}

@media only screen and (max-width: 450px) {
  .worksheets__info__difficulty__level {
    width: 16px;
    height: 12px;
  }
}

.worksheets__tag {
  position: absolute;
  background-image: url("../images/shape-004.png");
  background-repeat: no-repeat;
  top: 10px;
  left: -5px;
  display: inline-block;
  background-size: 100% 100%;
  color: #ffffff;
  padding: 5px;
  z-index: 1;
}

.worksheets__img {
  width: 100%;
}

.worksheets__img img {
  width: 100%;
  height: 240px;
}

.main-footer {
  background-color: #4335b5;
  color: white;
  padding: 90px 0 20px;
}

.main-footer a {
  color: white;
}

.main-footer a:hover {
  color: #FF9933;
}

.main-footer ul {
  list-style-type: none;
}

.main-footer__headings {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-section-w {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
}

@media only screen and (max-width: 450px) {
  .hero-section-w {
    min-height: 390px;
  }
}

.hero-section-w .hero-shape-bg {
  position: absolute;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: greenyellow;
  left: -300px;
  bottom: -152px;
  z-index: 0;
  padding: 190px;
}

@media screen and (max-width: 1200px) {
  .hero-section-w .hero-shape-bg {
    left: -500px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section-w .hero-shape-bg {
    width: 600px;
    height: 600px;
    left: -138px;
    bottom: -52px;
  }
}

@media only screen and (max-width: 450px) {
  .hero-section-w .hero-shape-bg {
    left: -300px;
  }
}

.hero-section-w__left {
  margin: 96px 0 0 10%;
  padding: 2rem 1rem 2rem;
}

@media only screen and (max-width: 768px) {
  .hero-section-w__left {
    margin-left: 0;
  }
}

.hero-section-w__left .hero-outter {
  max-width: 500px;
}

@media only screen and (max-width: 768px) {
  .hero-section-w__left .hero-outter {
    padding: 0;
    margin: 0;
    max-width: 400px;
  }
  .hero-section-w__left .hero-outter h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 450px) {
  .hero-section-w__left .hero-outter {
    max-width: 65%;
  }
}

.hero-section-w__left .hero-content {
  z-index: 1;
  position: relative;
}

.hero-section-w__left .hero-content a {
  background-color: #4335b5;
  border-color: #4335b5;
  color: #ffffff;
}

@media only screen and (max-width: 450px) {
  .hero-section-w__left .hero-content {
    padding: 0 !important;
  }
  .hero-section-w__left .hero-content h1 {
    font-size: 21px;
    font-weight: 800;
  }
  .hero-section-w__left .hero-content p {
    font-size: .9rem;
  }
  .hero-section-w__left .hero-content a {
    font-size: .7rem;
    padding: .7rem .2rem !important;
    width: 100%;
  }
}

.search-worksheets {
  position: relative;
  background-color: #f6f6f6;
  padding: 90px 0 50px 0;
}

@media only screen and (max-width: 450px) {
  .search-worksheets {
    padding-top: 60px;
  }
}

.search-worksheets__curve {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: -37px;
}

@media only screen and (max-width: 450px) {
  .search-worksheets__curve {
    top: -30px;
  }
}

.search-worksheets__form {
  position: relative;
  z-index: 3;
  max-width: 700px;
  margin: auto;
}

.search-worksheets__form input[type='text'] {
  padding: 26px 16px;
}

.search-worksheets__icon {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
}

.search-wrapper .curricular-tab .nav a:last-child {
  margin-left: 50%;
}

@media screen and (max-width: 1200px) {
  .search-wrapper .curricular-tab .nav a:last-child {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 992px) {
  .search-wrapper .curricular-tab .nav a:last-child {
    margin-left: unset;
  }
}

.search-wrapper a {
  color: #333333;
}

.search-wrapper a:hover {
  color: #000;
}

@media only screen and (max-width: 992px) {
  .search-wrapper__sidebar {
    display: none;
    position: fixed;
    left: 0;
    width: 50vw;
    top: 96px;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.search-wrapper .nav-tabs .nav-link.active, .search-wrapper .nav-tabs .free-bundles__buttons ul li.nav-link:hover, .free-bundles__buttons ul .search-wrapper .nav-tabs li.nav-link:hover, .search-wrapper .nav-tabs .free-bundles__buttons ul li a.nav-link:hover, .free-bundles__buttons ul li .search-wrapper .nav-tabs a.nav-link:hover {
  border: 0;
  border-bottom: 5px solid #FF9933;
  color: #000;
}

@media only screen and (max-width: 992px) {
  .result-bar__right {
    width: 100% !important;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    max-width: unset;
    margin-top: .5rem;
  }
  .result-bar__right button {
    width: 100%;
  }
  .result-bar__right .dropdown-menu {
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    top: -48px;
  }
}

.result-bar__filter {
  display: none;
}

.result-bar__filter button {
  padding: .5rem 1.3rem;
  background-color: #3c2fa1;
  border-color: #3c2fa1;
  color: #ffffff;
}

.result-bar__filter button:hover {
  background-color: #261E66;
  border-color: #261E66;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .result-bar__filter {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .result-bar__left {
    text-align: right;
  }
}

.pagepagination {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.pagepagination a.pagebtn {
  text-align: center;
  outline-color: #4335b5;
  border-color: #4335b5;
  color: #4335b5;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pagepagination a.pagebtn:hover {
  background-color: #4335b5;
  color: #ffffff;
}

.pagepagination__previous, .pagepagination__next, .pagepagination__current {
  background-color: #e6e6e6;
  padding: .5rem .8rem;
  border-radius: .2rem;
  border: 1px solid #333333;
}

.pagepagination__previous a, .pagepagination__next a, .pagepagination__current a {
  color: #333333;
}

.pagepagination__current {
  background-color: unset;
}

.pagepagination__total {
  padding: .5rem;
}

.progressive {
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
  background-color: #e41749;
  width: 100%;
  min-height: 400px;
  padding: 90px 0;
}

@media only screen and (max-width: 768px) {
  .progressive {
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  }
}

.progressive .testing {
  color: #fff;
  max-width: 70%;
  margin: auto;
}

.progressive__details h4 {
  color: #FF9933;
}
/*# sourceMappingURL=style.css.map */